# Unit 6. 변수와 입력

## 6.1 변수
- 영문 문자와 숫자를 사용할 수 있습니다.
- 대소문자를 구분합니다.
- 문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.
- _(밑줄 문자)로 시작할 수 있습니다. (지양)
- 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.
- 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

In [2]:
x = y = z = 10
x, y, z

(10, 10, 10)

In [3]:
del z
print(z)

NameError: ignored

In [4]:
# Null 
x = None
print(x)

None

## 6.2 변수로 계산

In [5]:
a = 10
a = a + 10
a

20

In [6]:
a = 10
a += 10        # a = a + 10 이라는 의미 
a

20

In [8]:
sum, prod = 0, 1 
for i in range(1,11):
    sum += i 
    prod *= i 
sum, prod

(55, 3628800)

In [9]:
-prod

-3628800

## 6.3 입력(input)

In [11]:
input()

dddd

'dddd'

In [25]:
s  = input()

hello, world!

In [26]:
s

'hello, world!'

In [15]:
x = input('1에서 10사이의 정수값>')    # prompt

1에서 10사이의 정수값>7

In [16]:
# 입력한 두 정수의 합을 구할 때 
a = input('첫번째 정수> ')
b = input('두번째 정수> ')
a+b

첫번째 정수> 101
두번째 정수> 303

'101303'

In [17]:
# input 으로 하게 되면 문자열이 되므로 문자+문자 값으로 나오는 것

In [18]:
type(a)

str

In [19]:
 #올바른 값을 구하기 위해서는
 a = input('첫번째 정수> ')
 b = input('두번째 정수> ')
 int(a)+int(b)

첫번째 정수> 101
두번째 정수> 303

404

In [21]:
# 다른 방법으로는
a = int(input('첫번째 정수> '))
b = int(input('두번째 정수> '))
a+b

첫번째 정수> 101
두번째 정수> 303

404

## 6.4 입력값 두개

In [27]:
s.split()

['hello,', 'world!']

In [28]:
a, b = s.split()
a, b

('hello,', 'world!')

In [29]:
a, b, c = 'A quick brown'.split()
a, b, c

('A', 'quick', 'brown')

In [30]:
a, b = input('정수 두개 입력> ').split()

정수 두개 입력> 10 20

In [31]:
a = int(a)
b = int(b)
a+b

30

In [32]:
a, b = input('정수 두개 입력, comma로 구분하세요.> ').split(',')

정수 두개 입력, comma로 구분하세요.> 10,20

In [33]:
a = int(a)
b = int(b)
a+b

30

### map 활용
- 리스트 각 엘리먼트에 지정한 함수를 적용

In [35]:
# 함수를 [A, B] A,B 각각에 주고 싶을 때 
# map(함수, 리스트) : 함수를 리스트[]의 element 각각에 적용하고 싶을 때
a, b = map(int, [10.2, 11.4])
a, b

(10, 11)

In [38]:
a, b = map(int, input('정수 두개 입력> ').split())
a+b

정수 두개 입력> 10 20

30

In [39]:
import math
a, b = map(math.sqrt, [1,4])
a, b

(1.0, 2.0)