# Unit 30. 위치 인수와 키워드 인수

## 30.1 위치 인수

In [1]:
print(10,20,30)

10 20 30

In [3]:
print(10, 20, 30, sep=', ')

10, 20, 30

In [4]:
print(tuple(range(10, 101, 10)))

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [5]:
print(10, 20, 30, 40, 50, 60, 70, 80, 90,100)

10 20 30 40 50 60 70 80 90 100

In [7]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [8]:
print_numbers(10, 20, 30)

10
20
30

In [10]:
# *x : 리스트 언패킹
x = [10, 20, 30]
print_numbers(*x)

10
20
30

In [14]:
# *y : 튜플 언패킹
y = (10, 20, 30)
print_numbers(*y)

10
20
30

In [18]:
# *x, *y : 리스트, 튜플 언패킹
x = [10,20,30]
y = (10,20,30)
print_numbers(*x)
print_numbers(*y)

10
20
30
10
20
30

### 가변 인수 함수

In [11]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [12]:
print_numbers(10,20,30,40)

10
20
30
40

In [13]:
print_numbers(10)

10

# 고정인수와 가변 인수

In [15]:
def print_numbers3(a, *args):
    print(a)
    print(args)

In [16]:
print_numbers3(1, 10, 20)

1
(10, 20)

In [17]:
print_numbers3(*x)

10
(20, 30)

In [23]:
# 가변(*args)이 고정(a)보다 먼저 나오면 에러 발생
# 고정 위치 인수가 가변 위치 인수보다 먼저 나와야 함!!!
def print_numbers4(*args, a):
    print(args)
    print(a)

In [24]:
print_numbers4(*x)

TypeError: ignored

## 30.2 키워드 인수

In [25]:
def personal_info(name, age, addr):
    print('이름:', name)
    print('나이:', age)
    print('주소:', addr)

In [26]:
personal_info('홍길동', 30, '서울 강남구 도곡동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

In [28]:
# 위치와 관계없이 키워드가 같으니까 위의 결과랑 동일하게 나옴
personal_info(age=30, addr='서울시 강남구', name='홍길')

이름: 홍길
나이: 30
주소: 서울시 강남구

## 30.3 키워드 인수와 딕셔너리 언패킹

In [29]:
x = {'name':'홍길동', 'age':30, 'addr': '서울시 강남구 도고동'}

In [33]:
#딕셔너리 언패킹 : ** (key, value)
personal_info(**x)

이름: 홍길동
나이: 30
주소: 서울시 강남구 도고동

In [35]:
# *x는 x의 키를 불러냄
personal_info(*x)

이름: name
나이: age
주소: addr

### 가변 키워드 인수

In [36]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [37]:
personal_info2(**x)

name: 홍길동
age: 30
addr: 서울시 강남구 도고동

In [38]:
personal_info2(name='홍길도', age=30)

name: 홍길도
age: 30

### 고정 인수와 가변 키워드 인수

In [41]:
def personal_info3(name, **kwargs):
    print(name)
    print(kwargs)

In [42]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울시 강남구 도고동'}

### 위치 인수와 키워드 인수

In [45]:
def my_print(*args, **kwargs):
    print(*args, **kwargs)

In [46]:
my_print(10,20,30, sep=', ')

10, 20, 30

## 30.4 매개변수에 초기값 지정

In [50]:
# 주소(addr)를 주지 않으면 초기값으로 '비공개' 나오도록
def personal_info4(name, age, addr='비공개'):
    print('이름:', name)
    print('나이:', age)
    print('주소:', addr)

In [51]:
personal_info4('홍길동', 30)

이름: 홍길동
나이: 30
주소: 비공개

In [52]:
personal_info4(**x)

이름: 홍길동
나이: 30
주소: 서울시 강남구 도고동