# Unit 18. break, continue

## 18.1 break로 반복문 끝내기

In [ ]:
import random

In [ ]:
# 횟수가 정해져 있지 않기 때문에 돌릴 때마다 다름. 조건 만족하면 끝남(break)
while True :
    i = random.randint(1,6)
    print(i)
    if i == 3 :
        break

6
4
3

In [ ]:
for i in range(5) :
    print(i, end=' ')
    for k in range(5) :
        print('*', end='')
        if i == k : 
            break

0 *1 **2 ***3 ****4 *****

In [ ]:
for i in range(5) :
    print(i, end=' ')
    for k in range(5) :
        print('*', end='')
        if i == k : 
            break
    print()

0 *
1 **
2 ***
3 ****
4 *****

## 18.2 continue

In [ ]:
for i in range(10) :
    if i % 2 == 0 :
        continue    #짝수면 계속 돌려 
    print(i)        #짝수가 아니면 그냥 출력

1
3
5
7
9