# Unit 19. 중첩 반복문

## 19.1 중첩(nested) for loop

In [10]:
for i in range(1,6) :
    for k in range(10, 60, 10) :
        print(k, end=' ')
    print(i)

10 20 30 40 50 1
10 20 30 40 50 2
10 20 30 40 50 3
10 20 30 40 50 4
10 20 30 40 50 5

## 19.2 별 사각형

In [6]:
for i in range(5) :
    for _ in range(5) :
        print('*', end='')
    print()

*****
*****
*****
*****
*****

In [7]:
# 평행사변형 
for i in range(4) :
    for k in range(0, i):           #blank 부분
        print(' ', end='')
    for _ in range(5) :             #star부분
        print('*', end='')
    print()

*****
 *****
  *****
   *****

In [8]:
for i in range(4) :
    print(' '* i, '*'*5, sep='')

*****
 *****
  *****
   *****

## 19.3 계단식 별 모양

In [11]:
for i in range(5) : 
    for _ in range(i+1) :
        print('*', end='')
    print()

*
**
***
****
*****

In [15]:
for i in range(1, 6) :
    print('*' * i)

*
**
***
****
*****

In [14]:
for i in range(5) :
    for _ in range(i) :
        print(' ', end='')
    for _ in range(5-i) :
        print('*', end='')
    print()

*****
 ****
  ***
   **
    *

In [17]:
for i in range(5) : 
    print(' ' * i, '*' * (5-i), sep='')

*****
 ****
  ***
   **
    *

### 다이아몬드 그리기

In [27]:
# 코드를 2가지로 나눠서 (위/아래)
for i in range(5) :
    for _ in range(4-i) :
        print(' ', end='')
    for _ in range(2*i+1) :
        print('*', end='')
    print()
for i in range(4) :
    for _ in range(i+1) :
        print(' ', end='')
    for _ in range(7-2*i) :
        print('*', end='')
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [31]:
for i in range(5) : 
    print(' '*(4-i), '*'*(2*i+1), sep='')
for i in range(4) :
    print(' '*(i+1), '*'*(7-2*i), sep='')

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *