# Unit 10. 리스트(list)와 튜플(tuple)

- 제일 많이 사용하는 것(list) : [ ]
- 그 다음으로 사용하는 것(tuple) : ( )
- dict, set(집합)사용 : { }
- numpy 에서는 array : np.[ ]

## 10.1 리스트(list)

In [1]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [4]:
# 파이썬에서는 list element가 다른 자료형도 가능
# 문자형, 정수, 실수, 불, 리스트 등 다른 자료형 다 넣을 수 있음
# but, 이렇게 쓰면 반복문으로 쓰기 어려움(권장하지 않음)
person = ['James', 19, 175.3, True, [120, 80]]
person

['James', 19, 175.3, True, [120, 80]]

In [5]:
#위의 person은 다음과 같은 dict로 변경하는 것이 권장됨.
person_dict = {'name':'James', 'age':19, 'height':175.4, 'is_male':True, 'bp':[120,80]}
person_dict

{'age': 19, 'bp': [120, 80], 'height': 175.4, 'is_male': True, 'name': 'James'}

### 빈 리스트 만들기

In [6]:
a = []
b = list()
a, b

([], [])

In [7]:
# 위의 경우처럼 빈 리스트 만들 때 선생님은 이렇게 사용하심
a, b = [], []
a, b

([], [])

### range
- range([시작숫자,] 끝나는 숫자+1 [, 증가분]) <br>
- [시작숫자]: 옵션 (나와도 되고 안나와도 되고_ []로 묶어줌)
- 파이썬응 '0' 부터 시작 : 끝나는 숫자+1 해야하는 것 <br>
  예) range(10) : 끝나는 숫자 = 9 가 되기 때문에 '10'까지의 숫자를 희망한다면 '11'로 넣어야 하는 것.<br> 1-10 까지의 숫자 희망 : range(1, 11) <br>

In [10]:
a = range(10)
a
# 이 경우 0-10 사이의 숫자(element)를 알 길이 없음. -> list(a) 사용

range(0, 10)

In [9]:
list(a) # 파이썬에서는 '0'이 시작숫자('1'부터 시작하는 게 아님)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
#1-10까지 홀수 
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [13]:
list(range(2, 11, 2))

[2, 4, 6, 8, 10]

In [14]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 10.2 튜플(tuple)
- Read-only 특성(변경 불가)

In [15]:
a = (38, 21, 47)
a

(38, 21, 47)

In [16]:
a = 38, 21, 47  #이거처럼 표현해도 됨(파이썬에서만 있는 방식)
a

(38, 21, 47)

In [17]:
#tuple도 list와 마찬가지로 다양한 자료형 섞어서 만들 수 있음
person = ('James', 19, 175.3, True, [120, 80])
person

('James', 19, 175.3, True, [120, 80])

In [19]:
# 빈 튜플 만들기. but 만드는 의미 없음 
a = tuple()
a

()

In [20]:
# element가 하나 있을 때 (a=정수)
a = (38)
a

38

In [21]:
# tuple로 element 하나 표현하고 싶을 경우 (a=tuple)
# 데이터베이스에서 값을 줄 때 tuple을 기대하는 항목에서 이렇게 넣음
a = (38,)
a

(38,)

In [23]:
tuple(range(5))

(0, 1, 2, 3, 4)

### 리스트 <-> 튜플

In [24]:
a = [1,3,4]
b = tuple(a)
b

(1, 3, 4)

In [25]:
c = list(b)
c

[1, 3, 4]

In [29]:
x = 10
tuple(x)

TypeError: ignored

In [28]:
x = 10
tuple(x,)

TypeError: ignored

###문자열

In [30]:
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [31]:
list('안녕하세요')

['안', '녕', '하', '세', '요']

### 언패킹(unpacking)

In [33]:
#tuple unpacking
a = (1,3,4)
x, y, z = a
x, y, z

(1, 3, 4)

In [36]:
#list unpacking
x, y, z = [1, 3, 5]
x, y, z

(1, 3, 5)