# Unit 7. 출력

## 7.1 여러 개의 값을 출력

In [1]:
a, b = map(int, input('정수 두개 입력> ').split())
a
b
# 제일 마지막에 있는 b만 출력됨

정수 두개 입력> 10 20

20

In [2]:
a, b = map(int, input('정수 두개 입력> ').split())
print(a)
print(b)
#print 함수를 이용하니 a, b 모두 출력됨

정수 두개 입력> 10 20
10
20

In [3]:
print(a, b)     #a,b 값을 모두 출력

10 20

In [5]:
print(a, b, sep=', ')   #중간에 들어오는, 가 sep 값

10, 20

## 7.2 줄바꿈 활용

In [6]:
print(a, b, sep='\n')   # \n 라인을 바꾸는 글자

10
20

In [12]:
pritn(a,b, sep='/\')   # 백슬래시 후 바로 '가 나오기 때문에 글자를 담지 못함

SyntaxError: ignored

In [10]:
print(a,b, sep='/\\')   #백슬래시를 2번 써야 함

10/\20

In [13]:
print(a)
print(b)

10
20

In [14]:
print(a, end=' ')
print(b)

10 20

In [15]:
for i in range(5):
    print(i, end=' ')

0 1 2 3 4