# Unit 32. 람다함수 - 익명(anonymous) 함수
- 식 형태로 되어 있어 람다 표현식이라고 부름
- 함수를 간편하게 작성할 수 있어 다른 함수의 인수로 넣을 때 주로 사용

In [4]:
def plus_ten(x):
    return x+10

In [5]:
plus_ten(5)

15

In [6]:
plus_ten2 = lambda x: x+10
plus_ten2(5)

15

In [7]:
(lambda x: x+10)(5)

15

In [9]:
list(map(lambda x: int(x)+10, input().split()))

2 5 10

[12, 15, 20]

In [10]:
def plus_ten(x): 
    return int(x)+10
list(map(plus_ten, input().split()))

2 5 10

[12, 15, 20]

### 제약 사항

In [14]:
# 람다 표현식 "안"에서는 변수를 만들 수 없음
(lambda x: y=10; x+y)       # y라는 새로운 변수 NO

SyntaxError: ignored

In [13]:
# 함수 "밖"에서는 변수 만들 수 있음
y = 10
(lambda x: x+y)(3)

13

In [15]:
a = 3
b = 5
c = a+b

In [17]:
# ; 의 역할 : 위의 식을 한 줄로 쓰겠다는 의미  
a=3; b=5; c=a+b

### 조건부 함수
- elif 불가 
- 3항 연산자만 사용 가능
- if 다음에는 반드시 else 필요 (람다에서는)

In [22]:
# map을 사용하여 리스트 a에서 3의 배수를 문자열로 변환
a = list(range(1,11))
list(map(lambda x : str(x) if x%3==0 else x, a))      #마지막a: 리스트 a에 대해서

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [23]:
# 리스트 a에서 3의 배수는 문자열로, 5의 배수는 실수로 변환
list(map(lambda x: str(x) if x%3==0 else float(x) if x%5==0 else x, a))

[1, 2, '3', 4, 5.0, '6', 7, 8, '9', 10.0]

### map에 여러개의 객체 넣기

In [24]:
# a와 b의 개수가 같을 때 
a = [1,2,3,4,5]
b = [6,7,8,9,10]
list(map(lambda x, y : x*y, a, b))

[6, 14, 24, 36, 50]

### filter

In [25]:
a = list(range(1,11))
list(filter(lambda x: 4 <= x < 8, a))

[4, 5, 6, 7]