## 8.4 연습문제 : 합격여부 출력하기
#### 국어, 영어, 수학, 과학 점수가 있을 때 한 과목이라도 50점 미만이면 불합격이라고 정했습니다. 다음 소스 코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요.

In [ ]:
kor = 92
eng = 47
mat = 86
sci = 81

print(kor >= 50 and eng >= 50 and mat >= 50 and sci >= 50)

False

## 8.5 심사문제 : 합격여부 출력하기
#### 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 국어는 90점 이상, 영어는 80점 초과, 수학은 85점 초과, 과학은 80점 이상일 때 합격이라고 정했습니다(한 과목이라도 조건에 만족하지 않으면 불합격). 다음 소스 코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [12]:
kor, eng, mat, sci = map(int, input('국어, 영어, 수학, 과학 점수> ').split())

국어, 영어, 수학, 과학 점수> 90 81 86 80

In [13]:
print(kor >= 90 and eng > 80 and mat > 85 and sci >= 80)

True

In [15]:
kor, eng, mat, sci = map(int, input('국어, 영어, 수학, 과학 점수> ').split())

국어, 영어, 수학, 과학 점수> 90 80 85 80

In [16]:
print(kor >= 90 and eng > 80 and mat > 85 and sci >= 80)

False

## 9.3 연습문제: 여러 줄로 된 문자열 사용하기
#### 다음 소스 코드를 완성하여 실행 결과대로 문자열이 출력되게 만드세요.

 **실행결과**  <br>
Python is a programming language that lets you work quickly <br>
and <br>
integrate systems more effectively.<br>

In [20]:
s = '''Python is a programming language that lets you work quickly
and
integrate systems more effectively.'''
print(s)

Python is a programming language that lets you work quickly
and
integrate systems more effectively.

## 9.4 심사문제: 여러 줄로 된 문자열 사용하기
#### 다음 소스 코드를 완성하여 실행 결과대로 문자열이 출력되게 만드세요.

 **실행결과**  <br>
'Python' is a "programming language" <br>
that lets you work quickly <br>
and <br>
integrate systems more effectively.<br>

In [24]:
s =''''Python' is a "programming language"
that lets you work quickly
and
integrate systmes more effectively. '''
print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systmes more effectively.

## 10.4 연습문제: range로 리스트 만들기
#### 다음 소스 코드를 완성하여 리스트 [5, 3, 1, -1, -3, -5, -7, -9]가 출력되게 만드세요. 리스트를 만들 때는 range를 사용해야 합니다.

In [25]:
a = list(range(5, -10, -2))
a

[5, 3, 1, -1, -3, -5, -7, -9]

## 10.5 심사문제: range로 튜플 만들기
#### 표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [114]:
# 2 입력시
a = tuple(range(-10, 11, int(input())))
a

2

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8, 10)

In [115]:
# 3 입력시
a = tuple(range(-10, 11, int(input())))
a

3

(-10, -7, -4, -1, 2, 5, 8)

## 11.6 연습문제: 최근 3년간 인구 출력하기
#### 리스트 year에 연도, population에 서울시 인구수가 저장되어 있습니다. <br> 다음 소스 코드를 완성하여 최근 3년간 연도와 인구수가 리스트로 출력되게 만드세요.

In [54]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

In [55]:
print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

## 11.7 연습문제: 인덱스가 홀수인 요소 출력하기
#### 다음 소스 코드를 완성하여 튜플 n에서 인덱스가 홀수인 요소들이 출력되게 만드세요.

In [56]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

In [60]:
n[1::2]

(75, -10, 32, -15, 76, 2)

## 11.8 심사문제: 리스트의 마지막 부분 삭제하기
#### 표준 입력으로 숫자 또는 문자열 여러 개가 입력되어 리스트 x에 저장됩니다<br> (입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음).<br> 다음 소스 코드를 완성하여 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.

In [62]:
# 1 2 3 4 5 6 7 8 9 10 입력
x = input().split()

1 2 3 4 5 6 7 8 9 10

In [68]:
del x[5:11]
tuple(x)

('1', '2', '3', '4', '5')

In [70]:
# 패스
x = input().split()

oven bat pony total leak wreck curl crop space navy loss knee

In [82]:
del x[-1:-5]
tuple(x)

()

## 11.9 심사문제: 문자열에서 인덱스가 홀수인 문자와 짝수인 문자 연결하기
#### 표준 입력으로 문자열 두 개가 각 줄에 입력됩니다(문자열의 길이는 정해져 있지 않음). <br> 첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여 출력하는 프로그램을 만드세요<br>(input에서 안내 문자열은 출력하지 않아야 합니다). <br>연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다. <br>그리고 0은 짝수로 처리합니다.

In [94]:
# 패스
x = 'python '
y = 'python'

In [95]:
# 패스
a = 'apple'
b = 'strawberry'

## 12.4 연습문제: 딕셔너리에 게임 캐릭터 능력치 저장하기
#### 다음 소스 코드를 완성하여 게임 캐릭터의 체력(health)과 이동 속도(movement speed)가 출력되게 만드세요.

In [96]:
camille = {
    'health': 575.6,
    'health_regen': 1.7,
    'mana': 338.8,
    'mana_regen': 1.63,
    'melee': 125,
    'attack_damage': 60,
    'attack_speed': 0.625,
    'armor': 26,
    'magic_resistance': 32.1,
    'movement_speed': 340
}

In [99]:
print(camille['health'])
print(camille['movement_speed'])

575.6
340

## 12.5 심사문제: 딕셔너리에 게임 캐릭터 능력치 저장하기
#### 표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. <br> 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요.<br> input().split()의 결과를 변수 한 개에 저장하면 리스트로 저장됩니다.

In [104]:
lux = {
    'health' : 575.6,
    'health_regen': 1.7,
    'mana' : 338.8,
    'mana_regen' : 1.63,
}
lux

{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

In [109]:
lux2 = {
    'health' : 575.6,
    'mana': 308.8,
    'melee' : 600,
    'attack_speed' : 0.625,
    'magic_resistance' : 35.7,
}
lux2

{'attack_speed': 0.625,
 'health': 575.6,
 'magic_resistance': 35.7,
 'mana': 308.8,
 'melee': 600}

## 13.6 연습문제: if 조건문 사용하기
#### 다음 소스 코드를 완성하여 x의 값이 10이 아닐 때 'ok'가 출력되게 만드세요.

In [111]:
x = 5
if x != 10 :
    print('ok')

ok

## 13.7 심사문제: 온라인 할인 쿠폰 시스템 만들기

#### 표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. <br> Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다.<br> 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요<br>(input에서 안내 문자열은 출력하지 않아야 합니다).

## 14.6 연습문제: 합격 여부 판단하기

#### A 기업의 입사 시험은 필기 시험 점수가 80점 이상이면서 코딩 시험을 통과해야 합격이라고 정했습니다(코딩 시험 통과 여부는 True, False로 구분). 다음 소스 코드를 완성하여 '합격', '불합격'이 출력되게 만드세요.

In [124]:
written_test = 75
coding_test = True
if written_test >= 80 and coding_test == True :
    print('합격')
else :
    print('불합격')

불합격

## 14.7 심사문제: 합격 여부 판단하기

#### 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다.<br> 여기서 네 과목의 평균 점수가 80점 이상일 때 합격이라고 정했습니다.<br> 평균 점수에 따라 '합격', '불합격'을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). <br> 단, 점수는 0점부터 100점까지만 입력받을 수 있으며 범위를 벗어났다면 <br> '잘못된 점수'를 출력하고 합격, 불합격 여부는 출력하지 않아야 합니다.

In [128]:
kor, eng, mat, sci = map(int, input('국어, 영어, 수학, 과학 점수> ').split())
a = (kor + eng + mat + sci) // 4
if a >= 80:
    print('합격')
else: 
    if a < 80:
        print('불합격')
    else:
        if a >100 :
            print('잘못된 점수')

국어, 영어, 수학, 과학 점수> 89 72 93 82
합격

In [129]:
kor, eng, mat, sci = map(int, input('국어, 영어, 수학, 과학 점수> ').split())
a = (kor + eng + mat + sci) // 4
if a >= 80:
    print('합격')
else: 
    if a < 80:
        print('불합격')
    else:
        if a >100 :
            print('잘못된 점수')

국어, 영어, 수학, 과학 점수> 100 79 68 71
불합격

In [137]:
# 요소의 조건문(?)
kor, eng, mat, sci = map(int, input('국어, 영어, 수학, 과학 점수> ').split())
a = (kor + eng + mat + sci) // 4
if a >= 80:
    print('합격')
else: 
    if a < 80:
        print('불합격')
    else:
        if b > 100:
            print('잘못된 점수')

국어, 영어, 수학, 과학 점수> 99 85 101 90
합격